@model schoolProjectMVC.Models.EmployeeNumber

    @{
        Layout = null;
    }

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ForgetPassword</title>
    </head>
    <body>
        <div>

            @using (Html.BeginForm("Submit2", "Assistant", FormMethod.Post))
            {
                <i>Employee Number:</i>@Html.TextBoxFor(m => m.number) @Html.ValidationMessageFor(x => x.number)
                <br />
                <input id="Submit1" type="submit" value="Submit" />

            }

        </div>
    </body>
</html>
