@model schoolProjectMVC.Models.Assistant

@{
    Layout = null;
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendPassword</title>
</head>
<body>
    <div>

        <i>The Password send to your email</i>
        <br />


    </div>
</body>
</html>
