@model schoolProjectMVC.Models.Teacher

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teacher</title>
</head>
<body>
    <div>
        Teacher First Name @Model.FirstName
        <br />
        Teacher Last Name: @Model.LastName
        <br />
        Teacher ID: @Model.TeacherId
    </div>
</body>
</html>
