@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-md-4">
    </div>

    <!DOCTYPE html>
    <html>
    <head>
        <title>מערכת למעקב אחר ילדינו</title>
    </head>
    <body dir="rtl">
        <h2>מטרת המערכת:</h2>
        <p>מטרתינו היא לשפר את דרכי העברת המידע.</p>
        <p>להפוך את קבלת המידע לפשוט ונגיש לכל מי שמתפח את ילדינו</p>
        <p>לכן דרך מערכת זו נוכל להעביר מידע ולהתעדכן בצורה קלה ויעילה</p>
    </body>
</html>
